@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
	font-family: "Righteous", display;
	height: 100vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background: linear-gradient(
			0deg,
			rgba(34, 193, 195, 1) 0%,
			rgba(253, 187, 45, 1) 90%
		)
		no-repeat;
}

h1 {
	margin: 3rem;
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

button {
	margin: 2rem;
	padding: 1rem;
	font-size: 2rem;
	font-family: "Righteous", display;
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid black;
	box-shadow: 0 0 2px black;
	transition: all 0.2s ease-in-out;
	background-color: white;
	text-transform: uppercase;
}

button:hover {
	box-shadow: 0 0 12px black;
}

.circle-container {
	display: flex;
	justify-content: space-around;
	width: 60vw;
	margin: 3rem 0;
}
