@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
	font-family: "Righteous", display;
	height: 100vh;
	text-align: center;
	background: linear-gradient(
			0deg,
			rgba(34, 193, 195, 1) 0%,
			rgba(253, 187, 45, 1) 100%
		)
		no-repeat;
}

h1 {
	margin: 3rem;
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

button {
	margin: 2rem;
	padding: 1rem;
	font-size: 2rem;
	font-family: "Righteous", display;
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid black;
	box-shadow: 0 0 2px black;
	transition: all 0.2s ease-in-out;
}

button:hover {
	box-shadow: 0 0 10px black;
}
